@import "reset.css";


/********************************************* BORDER-BOX *************
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/********************************************************************* */


body {
	text-decoration: none;
	background: grey;
	margin: auto;
	width: 60%;
	position: relative;
}

h1 {
	font-size: 1.5em;
	font-weight: 700;
	padding: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.borderBottom{
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #000;
}


#mceu_20{
	display: none;
}

.hidden {
	visibility: hidden;
}






/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ************************************************** HEADER *****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#sectionHeader {
	background: white;
	padding-right: 5%;
	padding-left: 5%;
	overflow: hidden;
	width: 100%;
}

#logo {
 	margin: 20px;
 	margin-top: 25px;
 	margin-left: 50px;
 	height: 130px;
 	width: 200px;
} 

/* recherche + connexion */
#menu ul {
	overflow: hidden;
}

#menu ul li {
 	float: right;
 	margin: 50px 10px 0px;
}

#menu li.boutonMenu {
	background-color: #000;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 40px 5px;
	padding: 10px;
}

#menu ul li a {
	color: #fff;
	text-decoration: none;
}

/* recherche */
#inputrecherche{
	height: 23px;
	width: 95px;
	position: relative;
	right: -150px;
	top: -35px;
	margin-left: -100px;
	border-style: none;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #e2e1e1;
	z-index: 1;
	padding-left: 10px;
}

#recherche{
	position: relative;
	top: -15px;
}

#menu ul li.session {
	color: #00f;
	font-size: 1.2em;
	margin: 48px 10px 0;
}

#menu ul li.session a {
	color: blue;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 **************************************************** NAV ******************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#nav {
	background: white;
}

#nav #sectionNav {
	overflow: hidden;
}

#listeNav {
	margin-right: 75px;
}

#listeNav li {
	background: grey;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	border-radius: 2px;
	float: left;
	list-style: none;
	margin: 0 0 20px 10px;
	min-width: 100px;
	padding: 5px;
	text-align: center;
}

#listeNav li a {
	color: #000;
	text-decoration: none;
}

#nav li.active {
	background: orange;
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 *************************************************** MAIN ******************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#listeQuestion {
	background-color: #fff;
	margin: 10px 0;
	overflow: hidden;
	padding-bottom: 30px;
}

#listeQuestion div.question{
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #000;
	overflow: hidden;
	padding: 20px;
}

#listeQuestion div.compteur {
	width: 20%;
}

#listeQuestion div.votes,
#listeQuestion div.reponses,
#listeQuestion div.vues {
	/*cursor: pointer;*/
	padding: 5px;
	text-align: center;
	width: 33%;
}

#listeQuestion div.reponses {
	color: #9A4444;
}

#listeQuestion div.repondu {
	background: #75845c;
	color: #fff;
}

#listeQuestion div.theone {
	background: #75845c;
	color: #e1e818;
}

#listeQuestion div.vues {
	color: #999;
}

#listeQuestion span.count {
	font-size: 1.5em;
	font-weight: 700;
}

/* CONTENU QUESTION */
#listeQuestion div.detailquest {
	width: 80%
}

#listeQuestion div.titrequestion {
	font-size: 1.5em;
	font-weight: 700;
}

#listeQuestion div.titrequestion a {
	color: #00f;
	text-decoration: none;
}

#listeQuestion div.titrequestion a:hover {
	text-decoration: underline;
}

#listeQuestion div.tag {
	margin: 10px 0px;
}

#listeQuestion div.tag a {
	color: #000;
}

#listeQuestion span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
}

#listeQuestion span.tagname:hover {
	background: #9CF0E5;
}

#listeQuestion span.actiontemps {
	color: #999;
}

#listeQuestion a.lienProfil {
	color: #00f;
	text-decoration: none;
}

#listeQuestion a.lienProfil:hover {
	text-decoration: underline;
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ******************************************** RECHERCHER PAR TAG ***********************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */


#listeQuestionParTag {
	background-color: #fff;
	margin: 10px 0;
	overflow: hidden;
	padding-bottom: 30px;
}

#listeQuestionParTag div.question{
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #000;
	overflow: hidden;
	padding: 20px;
}

#listeQuestionParTag div.compteur {
	width: 20%;
}

#listeQuestionParTag div.votes,
#listeQuestionParTag div.reponses,
#listeQuestionParTag div.vues {
	/*cursor: pointer;*/
	padding: 5px;
	text-align: center;
	width: 33%;
}

#listeQuestionParTag div.reponses {
	color: #9A4444;
}

#listeQuestionParTag div.repondu {
	background: #75845c;
	color: #fff;
}

#listeQuestionParTag div.theone {
	background: #75845c;
	color: #e1e818;
}

#listeQuestionParTag div.vues {
	color: #999;
}

#listeQuestionParTag span.count {
	font-size: 1.5em;
	font-weight: 700;
}

/* CONTENU QUESTION */
#listeQuestionParTag div.detailquest {
	width: 80%
}

#listeQuestionParTag div.titrequestion {
	font-size: 1.5em;
	font-weight: 700;
}

#listeQuestionParTag div.titrequestion a {
	color: #00f;
	text-decoration: none;
}

#listeQuestionParTag div.titrequestion a:hover {
	text-decoration: underline;
}

#listeQuestionParTag div.tag {
	margin: 10px 0px;
}

#listeQuestionParTag div.tag a {
	color: #000;
}

#listeQuestionParTag span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
}

/* Début du tagname title */
#listeQuestionParTag span.tag {
	margin: 10px 0px;
}

#listeQuestionParTag span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
	color: #000;
}

#listeQuestionParTag span.tagname:hover {
	background: #9CF0E5;
}
/* Fin du tagname title */

#listeQuestionParTag span.actiontemps {
	color: #999;
}

#listeQuestionParTag a.lienProfil {
	color: #00f;
	text-decoration: none;
}

#listeQuestionParTag a.lienProfil:hover {
	text-decoration: underline;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ********************************************* DETAILS QUESTION ************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#mainQuestionDetails{
	background-color: #fff;
	margin: 10px 0;
}

#questionDetails {
	/*overflow: hidden;*/
	padding: 20px 20px 0 20px;
}

#questionDetails div.sidebar,
.reponse div.sidebar {
	text-align: center;
	width: 10%;
}

#questionDetails div.details {
	padding: 20px 0;
	width: 90%;
}

#questionDetails div.votePlus,
#questionDetails div.voteMoins,
.reponse div.votePlus,
.reponse div.voteMoins {
	cursor: pointer;
	font-size: 2em;
	font-weight: 700;
	margin: 10% auto;
	width: 0;
}

#questionDetails div.votePlus {
	border-color: transparent transparent #999;
	border-style: solid;
	border-width: 25px;
	display: none;
	width: 20%;
}

#questionDetails div.voteMoins {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 25px;
	display: none;
}

#questionDetails div.scorequest {
	color: #999;
	display: none;
	font-size: 2em;
	font-weight: 700;
	margin: 10px auto;
	padding: 5px 0;
}

#questionDetails div.favoris {
	visibility: hidden;
}

#questionDetails div.tag {
	margin: 20px 0px;
}

#questionDetails div.tag a {
	color: #000;
}

#questionDetails span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
}

#questionDetails span.tagname:hover {
	background: #9CF0E5;
}

#questionDetails div.who,
.reponse div.who {
	text-align: center;
	width: 30%;
}

#questionDetails span.actiontemps,
.reponse span.actiontemps {
	color: #999;
}

#questionDetails a.lienProfil,
.reponse a.lienProfil {
	color: #00f;
	text-decoration: none;
}

#questionDetails a.lienProfil:hover,
.reponse a.lienProfil:hover {
	text-decoration: underline;
}

#questionDetails div.borderTop,
.reponse div.borderTop {
	border-style: dotted;
	border-width: 2px 0 0 0;
	border-color: #999;
}

#questionDetails div.zoneComment,
.reponse div.zoneComment {
	margin: 20px 0;
}

#questionDetails div.comment,
.reponse div.comment {
	border-style: dotted;
	border-width: 0 0 2px 0;
	border-color: #999;
	padding: 5px 20px;
}

#questionDetails div.boutonComment,
.reponse div.boutonComment {
	float: right;
	/*overflow: hidden;*/
	padding: 0 20px;
	width: 90%;
}

#questionDetails div.ajoutComment {
	border-radius: 2px;
	color: #999;
	padding: 5px 10px;
}

#questionDetails div.ajoutComment:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ************************************************* REPONSES ****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */
#reponseDetails {
	/*overflow: hidden;*/
	padding: 0 20px;
}

.reponse div.details {
	padding: 20px 0;
	min-height: 230px;
	width: 90%;
}

.reponse div.votePlus {
	border-color: transparent transparent #999;
	border-style: solid;
	border-width: 25px;
	width: 20%;
}

.reponse div.voteMoins {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 25px;
}

/*.reponse div.stop {
	background-image: url(../img/apparences/coche_invalid.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	margin: auto;
	width: 50px;
	visibility: hidden;
}*/

.reponse div.scorerep {
	color: #999;
	font-size: 2em;
	font-weight: 700;
	margin: 10px auto;
	padding: 5px 0;
}

.reponse div.favoris {
	background-image: url(../img/apparences/coche_valid.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	margin: auto;
	width: 50px;
	/*visibility: hidden;*/
}

.reponse div.ajoutComment {
	border-radius: 2px;
	color: #999;
	padding: 5px 10px;
}

.reponse div.ajoutComment:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
}


#saut {
	margin: 0 20px;
	padding: 20px;
}

#votreReponse {
	padding: 0 20px 20px 20px;
}

#formReponse {
	margin: 20px 0 20px 20px;
	width: 80%;
}

#contenuReponse {
	min-height: 200px;
}

#submitReponse {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	margin: 15px 5px 15px 20px;
	padding: 5px 10px;
	text-transform: uppercase; 
}

#remarques {
	padding: 20px 0 80px 40px;
}

#remarques span.tag {
	margin: 20px 0px;
}

#remarques span.tag a {
	color: #000;
}

#remarques span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
}

#remarques span.tagname:hover {
	background: #9CF0E5;
}

#remarques p {
	font-size: 1.2em;
	font-weight: 700;
}

#remarques p a {
	color: #00f;
	text-decoration: none;
}

#remarques p a:hover {
	text-decoration: underline;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 *************************************************** TAGS ******************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#mainTags{
	background-color: #fff;
	margin: 10px 0;
	overflow: hidden;
	padding-bottom: 30px;
}

#listeTags div#tagcontain{
	margin-top: 50px;
	margin-left: 20px;
}

#listeTags span.tagname {
	background: #67D8CA;
	border-radius: 2px;
	display: inline-block;
	margin: 0px 5px;
	padding: 5px;
	color: #000;
}

#listeTags span.tagname:hover{
	background: #9CF0E5;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ******************************************** AJOUTE COMMENTAIRE ***********************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */
.ajouteComment {
	padding: 20px;
}

.ajouteComment .titreComment {
	color: #fff;
	font-size: 1.2em;
	padding-bottom: 10px;
} 

.ajouteComment #comment {
	min-height: 100px;
	padding: 5px;
	width: 100%; 
}

.ajouteComment #submitComment {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
	padding: 5px;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 *************************************************** VOTE ******************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */
.ajouteVote {
	padding: 20px;
}

.ajouteVote .titreVote {
	color: #fff;
	font-size: 1.2em;
	padding-bottom: 10px;
} 

.ajouteVote #submitVote {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 2em;
	font-weight: 700;
	margin-top: 10px;
	padding: 5px;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ******************************************** POSER QUESTION ***************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#mainPoserQuestion {
	background-color: #fff;
	margin: 10px 0;
}

#formPoserQuestion {
	margin: 20px auto;
	width: 80%;
}

#titreQuestion {
	margin: 20px 0;
	padding: 10px;
	width: 60%;
}

#formPoserQuestion label {
	display: inline-block;
	font-style: italic;
	margin-bottom: 5px;
}

#contenuQuestion {
	min-height: 200px;
}

#tagsQuestion {
	margin: 20px 0;
	padding: 10px;
	width: 60%;
}

#submitPoserQuestion {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	margin-bottom: 50px;
	padding: 5px 10px;
	text-transform: uppercase; 
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ********************************************* CREER COMPTE ****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

.containerCompte {
	padding: 20px;
}

#formCreerUnCompte {
	background: #000;
	margin: auto;
	padding: 20px;
	width: 80%; /*950px;*/
}	

.formTitre {
	color: #D6CBCB;
	font-size: 1.5em;
	/*margin-left: 10%;*/ /*120px;*/
	padding-bottom: 20px;
	text-align: center;
}

#formCreerUnCompte #prenom {
	margin: 5px 5px 5px 80px;
	padding: 5px;
	width: 19%;/*190px;*/
}

#formCreerUnCompte #nom {
	margin-right: 5px;
	padding: 5px;
	width: 20%; /*200px;*/
}

#formCreerUnCompte #pseudo,
#formCreerUnCompte #email,
#formCreerUnCompte #password,
#formCreerUnCompte #password2,
#formCreerUnCompte #pays,
#formCreerUnCompte #langue,
#formCreerUnCompte #metier,
#formCreerUnCompte #lien {
	margin: 5px 5px 5px 80px;
	padding: 5px;
	width: 40%; /*400px;*/

}


#formCreerUnCompte #submitCreer {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 15px 5px 15px 80px;
	padding: 5px;
	width: 20%; /*200px;*/
}

.errors {
	color: #f00;
}

.validates {
	color: #0f0;
}



/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ********************************************* MODIF COMPTE ****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

.containerModifCompte {
	padding: 20px;
}

#formModifUnCompte {
	background: #000;
	margin: auto;
	padding: 20px;
	width: 80%; /*950px;*/
}	

.modifFormTitre {
	color: #D6CBCB;
	font-size: 1.5em;
	/*margin-left: 10%;*/ /*120px;*/
	padding-bottom: 20px;
	text-align: center;
}

#formModifUnCompte #prenomModif {
	margin: 5px 5px 5px 80px;
	padding: 5px;
	width: 19%;/*190px;*/
}

#formModifUnCompte #nomModif {
	margin-right: 5px;
	padding: 5px;
	width: 20%; /*200px;*/
}

#formModifUnCompte #pseudoModif,
#formModifUnCompte #emailModif,
#formModifUnCompte #passwordModif,
#formModifUnCompte #password2Modif,
#formModifUnCompte #paysModif,
#formModifUnCompte #langueModif,
#formModifUnCompte #metierModif,
#formModifUnCompte #lienModif {
	margin: 5px 5px 5px 80px;
	padding: 5px;
	width: 40%; /*400px;*/

}


#formModifUnCompte #submitModif {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 15px 5px 15px 80px;
	padding: 5px;
	width: 30%; /*200px;*/
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ************************************************* CONNEXION ***************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#formConnexion {
	background: #000;
	margin: auto;
	padding: 20px;
	width: 40%; 
}	

#formConnexion #passwordConnex,
#formConnexion #pseudoEmailConnex {
	margin: 5px 0;
	padding: 5px;
	width: 80%; 
}


#formConnexion #submitConnex {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 15px 0;
	padding: 5px;
	width: 40%; 
}

#oubliConnex a {
	color: #fff;
	display: inline-block;
	margin: 5px 0 15px 0;
}

#formConnexion div.center {
	margin: auto;
	text-align: center;
}

#formConnexion div.center p.errors {
	min-height: 20px;
}

/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ******************************************** MOT DE PASSE OUBLIÉ **********************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#formMotDePasseOublie {
	background: #000;
	margin: auto;
	padding: 20px;
	width: 40%; 
}	

#formMotDePasseOublie #emailOubli {
	margin: 5px 0;
	padding: 5px;
	width: 80%; 
}


#formMotDePasseOublie #submitOubli {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 15px 0;
	padding: 5px;
	width: 40%; 
}

#formMotDePasseOublie div.center {
	margin: auto;
	text-align: center;
}

#formMotDePasseOublie div.center p.errors {
	min-height: 65px;
}

#formMotDePasseOublie div.center p.errors a {
	color: #fff;
	display: inline-block;
	font-size: 1.2em;
	padding: 5px 0;
}

#formMotDePasseOublie div.center p.validates {
	min-height: 40px;
}

#formMotDePasseOublie div.center p.errorEnvoi {
	min-height: 20px;
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ********************************************* PAGE PROFIL *****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */

#mainPoserQuestion {
	overflow: hidden;
}

#containerPhoto {
	height: 300px;
	width: 128px;
	padding-top: 5px;
	margin-right: 25px;
	text-align: center;
}

#profilePic {
	height: 128px;
	width: 128px;
}

.labelOfLabel {
	margin-top: 10px;
}

.infoLabel {
	padding-left: 25px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.info {
	margin-left: 100px;
}


/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ******************************************** MOT DE PASSE ENVOI ***********************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */
#formMotDePasseEnvoi {
	background: #000;
	margin: auto;
	padding: 20px;
	width: 60%; 
}	

#formMotDePasseEnvoi #passwordOubli2,
#formMotDePasseEnvoi #password2Oubli2 {
	margin: 5px 0;
	padding: 5px;
	width: 60%; 
}


#formMotDePasseEnvoi #submitOubli2 {
	background: #505E5E;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 15px 0;
	padding: 5px;
	width: 30%; 
}

#formMotDePasseEnvoi div.center {
	margin: auto;
	text-align: center;
}

#formMotDePasseEnvoi div.errors {
	color: #f00;
	min-height: 20px;
	text-align: center;
}

#formMotDePasseEnvoi div.validates {
	color: #0f0;
	text-align: center;
}



/* ___________________________________________________________________________________________________________ */

/***************************************************************************************************************
 ************************************************** FOOTER *****************************************************
 ***************************************************************************************************************/

/* ___________________________________________________________________________________________________________ */
#footer {
	background: white;
	padding: 50px;
	text-align: center;
	width: 100%;
}

#copyright {
	font-size: 1.2em;
	font-weight: 700;
}
