@import "reset.css";


/********************************************* BORDER-BOX *************
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/********************************************************************* */


body {
	text-decoration: none;
	background: grey;
	margin: auto;
	width: 60%;
	position: relative;
}

/*******************************************************
 *********************** HEADER ************************
 *******************************************************/

header {
	background: white;
	padding-right: 5%;
	padding-left: 5%;
	overflow: hidden;
	width: 100%;
}

.left {
 	float: left;
 }

.right {
 	float: right;
 }

/* logo */
#logo {
 	margin: 20px;
 	margin-top: 25px;
 	margin-left: 50px;
 	height: 50px;
 	width: 150px;

 } 

/* recherche + connexion */
#menu ul li {
 	margin-left: 50px;
 	margin-top: 40px;
 	float: right;
 }

/* recherche */
#inputrecherche{
	height: 23px;
	width: 95px;
	position: relative;
	right: -150px;
	top: -35px;
	margin-left: -100px;
	border-style: none;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #e2e1e1;
	z-index: 1;
}

#recherche{
	position: relative;
	top: -15px;
}

/*******************************************************
 ************************* NAV *************************
 *******************************************************/

nav {
	background: white;
}

nav section{
	overflow: hidden;
}

nav li {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 50px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	border-radius: 10px;
	background: grey;
}


/*******************************************************
 ************************ MAIN *************************
 *******************************************************/

.question{
	margin: 20px;
}


/* COMPTEUR */

.compteur {
	width: 30%;
	margin-top: 15px;
}

.votes {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 150%;
}

.reponses {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 150%;
}

.vues {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 150%;
}

.count {
	font-size: 150%;
}

/* CONTENU QUESTION */
.titrequest {
	float: left;
	font-size: 250%;
	width: 68%
}


.tag {
	font-size: 50%
}

.tagname {
	background: #67D8CA;
	border-radius: 10px;
	margin-right: 20px;
	padding: 3px 5px 3px 5px;
}

.clear {
	clear: both;
}

/*******************************************************
 ********************** SIDEBAR ************************
 *******************************************************/


 /*******************************************************
 *********************** FOOTER *************************
 *******************************************************/
footer {
background: white;
	position: relative; 
	bottom: 0;
	padding-right: 5%;
	padding-left: 5%;
	height: 250px;
	width: 100%;
}

footer div {
	float: left;
	margin-top: 50px;
	margin-left: 90px;
	margin-right: 200px;
}